<hr>

<div class="share__blog">
    <h3>Share: {{ pageTitle }}</h3>
    <div class="share__blog__links">
        <a class="l" href="https://www.facebook.com/sharer/sharer.php?u={{ siteInfo.url }}{{ page.url }}" target="_blank">
            Share on Facebook
        </a>
        <a class="l" href="https://twitter.com/intent/tweet?text={{ pageTitle }}%20by%20{{ siteInfo.twitterHandle }}%20-%20{{ siteInfo.url }}{{ page.url }}" target="_blank">
            Share on Twitter
        </a>
    </div>
</div>